.map-inner{
    background-image: url(../../../images/map-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}


.photo-detail-2 p{
    color: white;
    text-align: center;
    font-weight: bold;
}

.photo-detail-2{
    display: block; 
    background-color: rgba(66, 64, 58, 0.705);
    min-width: 30%;

}