@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body {
  margin: 0;
  background-color: rgba(250, 236, 236, 0.295);
  
}

code {
  font-family: 'Poppins', sans-serif;
}
